<section>
  <header>
    <section class="filter-list">
      <div *ngIf="showFilterBox == true; else displayFilter">
        <a class="btn btn-close" (click)="hideFilter()">-</a>
        <div class="department-list">
          <div class="department" *ngFor="let department of departments">
            <div class="dept-name" (click)="addDepartmentFilter(department.name)">{{ department.name }}</div>
            <div class="subjects-wrapper">
              <div
                class="subject-name"
                *ngFor="let subject of department.subjects"
              (click)="addSubjectFilter(subject)">
                {{ subject }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #displayFilter>
        <a class="btn btn-expand" (click)="showFilter()">+</a>
        <div class="department-list">
          <div class="department">
            <div class="dept-name active">All Departments</div>
            <div class="subjects-wrapper">
              <div class="subject-name active">All Subjects</div>
            </div>
          </div>
        </div>
      </ng-template>
    </section>
  </header>
  <div class="data-wrapper">
    <ul class="filtered-student">
      <li *ngFor="let student of students">
        <span class="name"
          >{{ student.familyName }}, {{ student.givenName }}</span
        >
        <!-- <span class="dob">DOB: <span class="value">07/08/1990</span></span> -->
        <span class="dob"
          >DOB:
          <span class="value">{{ student.dob | date: "shortDate" }}</span></span
        >
        <span class="admit-date"
          >Admitted:
          <span class="value">{{
            student.admitDate | date: "mediumDate"
          }}</span></span
        >
        <span class="grad-date"
          >Anticipated Graduation:
          <span class="value">{{
            student.anticipatedGraduationDate | date: "MMM yyyy"
          }}</span></span
        >
        <span class="mentor"
          >Mentor:
          <span class="value"
            >{{ student.mentor.familyName }},
            {{ student.mentor.givenName }}</span
          ></span
        >
      </li>
    </ul>
  </div>
</section>
