<section>
  <header>
    <section class="filter-list">
      <div class="top-filter" [@openClose]="isOpen ? 'open' : 'closed'">
        <a class="btn btn-expand" (click)="toggleFilter()">{{plusMinus}}</a>
        <div class="department-list">
          <div class="department" *ngFor="let department of departments">
            <div #departmentClass class="dept-name" (click)="addFilter(departmentClass,department.name)" >{{department.name}}</div>
            <div class="subjects-wrapper">
              <div
                class="subject-name"
                #subjectClass
                *ngFor="let subject of department.subjects"
              (click)="addSubjectFilter(subjectClass,subject)">
                {{ subject }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-filter">
        <div class="department-list">
          <div class="department">
            <div class="dept-name active" [innerHTML]="departmentText"><!-- Department Name goes here --></div>
            <div class="subjects-wrapper">
                <div class="subject-name active" *ngIf="filterSubjects.length == 0;else showFilters">All Subjects</div>
                <ng-template #showFilters>
                  <div #subjectClass class="subject-name  active" (click)="addFilter(subjectClass,filterSubject)" *ngFor="let filterSubject of filterSubjects">{{filterSubject}}</div>
                </ng-template>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <div class="data-wrapper">
    <ul class="filtered-student" *ngIf="students.length > 0;else noStudents">
      <li *ngFor="let student of students">
        <span class="name"
          >{{ student.familyName }}, {{ student.givenName }}</span
        >
        <span class="dob"
          >DOB:
          <span class="value">{{ student.dob | date: "shortDate" }}</span></span
        >
        <span class="admit-date"
          >Admitted:
          <span class="value">{{
            student.admitDate | date: "mediumDate"
          }}</span></span
        >
        <span class="grad-date"
          >Anticipated Graduation:
          <span class="value">{{
            student.anticipatedGraduationDate | date: "MMM yyyy"
          }}</span></span
        >
        <span class="mentor"
          >Mentor:
          <span class="value"
            >{{ student.mentor.familyName }},
            {{ student.mentor.givenName }}</span
          ></span
        >
      </li>
    </ul>
    <ng-template #noStudents>
      <div>Filter Found No Students</div>
    </ng-template>
  </div>
</section>
